
#navigation .widget ul li {

    border: none;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: -moz-use-text-color;
        border-right-color: -moz-use-text-color;
        border-bottom-color: -moz-use-text-color;
        border-left-color: -moz-use-text-color;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.menu li {

    display: inline-block;
    margin-right: 12px;
    position: relative;

}
ol, ul, li {

    list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;

}
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {

    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

}
body {

    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0px;
    text-transform: none;

}
